.certificate{
    padding: 15px;
    border: 5px solid transparent;
    border-image: linear-gradient(-45deg,#ff0,#f0f,#f00,#00f,#0f0);
    border-image-slice: 1;
    background-size: contain;
    
    /* flex: 0 0 83.33333%; */
    /* max-width: 83.33333%; */
    /* position: relative; */
    /* width: 100%; */
    /* min-height: 1px; */
}


.textCenter{
    text-align: center !important;
}

.link{
    margin: auto !important;
    display: inline-block !important;
}

.certificate_title {
    text-align: center;
    margin: 30px 0px;
}
.certificate_title h3{
    font-family: Algerian;
    font-size: 30px;
    color: #097b7b;
    font-weight: normal;
}

.sp_1{
    display: inline-block;
    font-size: 15px;
    margin-right: 30px;
    font-weight: 600;
    width: auto;
    vertical-align: top;
}
.sp_2{
    display: inline-block;
    width: 58%;
    padding-bottom: 5px;
    border-bottom: dashed 2px #c3bfbf;
}

.address{
    display: inline-block;
    width: 80%;
    padding-bottom: 5px;
    border-bottom: dashed 2px #c3bfbf;
}

.mb_2{
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;
}
.mb_2 h5{
    font-size: 1rem;
}


.signature b{
    display: inline-block;
    margin-right: 20px;
}
.date{
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: dashed 2px #c3bfbf;
}

.signature_img{
    text-align: right;
}
.img{
    width: 110px;
    display: inline-block;
    margin-bottom: 6px;
    margin-top: 10px;
}
.img_fluid{
    max-width: 100%;
    height: auto;
}
.authorized{
    display: inline-block;
    font-size: 12px;
    /* width: 100%; */
}

.validity p{
    font-size: 15px;
    line-height: 1.5;
}