

.certificate {
    background: none;
    padding: 15px;
    border: 5px solid transparent;
    border-image: linear-gradient(-45deg,#ff0,#f0f,#f00,#00f,#0f0);
    border-image-slice: 1;
}

.m-auto {
    margin: auto !important;
}

.comp-logo {
    text-align: right;
    width: 100%;
    float: left;
    margin: 0px auto;
}

.signature {
    padding-top: 60px;
    flex: 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.order-1 {
 order: 1;
}

.signature b{
    display: inline-block;
    margin-right: 20px;
    font-weight: bolder;
}

.Signature-Date {
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: dashed 2px #c3bfbf;
}

.mt-3 {
    margin-top: 1rem!important;
}

.signature b {
    display: inline-block;
    margin-right: 20px;
    width: 100%;
}

.mt-5 {
    margin-top: 3rem !important;
}

.signature-img {
    width: 130px;
    text-align: left;
}
.signature-img img {
    width: 110px;
    display: inline-block;
    margin-bottom: 6px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
/* img {
    vertical-align: middle;
    border-style: none;
} */
.signature-img span {
    display: inline-block;
    font-size: 12px;
}

.w-100 {
    width: 100% !important;
}

.text-center {
    text-align: center !important;
}

.text-primary {
    color: #0890ca !important;
}

.para{
    margin-bottom: 0 !important;
}

.colorlink{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.align{
    font-size: 14px;
}