

.btnPrimary{
   background-color:var(--primary-color) !important;
   color: var(--white);
   border-radius:4px ;
   font-size: 14px;
   font-weight: 600;
   border: none;
}
.btnPrimary span{
    margin-left: 6px;
}
.btnPrimary span i{
   font-size: 18px;
}
.form-control{
    border-radius: 0;
    margin-top: 4px;
}

.btn-container{
    margin-top: 26px;
}

.selection{
    display:flex;
    flex-direction: row;
    column-gap: 6px;
    margin-top: 22px;
    text-align:center;
}
.selection-text{
    margin-top: 4px
}
.columns{
    display: flex;
    flex-direction: column;
    flex-grow: 10px;
}
.btninkBlue{
    background-color: var(--inkBlue) !important;
    color: var(--white);
    font-size: 14px;
    padding: 4px 15px;

}
.containerRow{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 16px;
}
.btnCol{
    flex-direction: column;
}
.colSmall{
    width: 66px;
     padding: 0 ;
     margin-top:10px;
}
.rowContainer{
    column-gap: 4px;
}
.printCol{
    margin-right: 145px;
    margin-top: 10px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

.table{
    overflow: scroll;
}

.table .tableHead{
    background-color:var(--primary-color);
    color: var(--white);
    padding-left: 10px;
}
.table tbody{
    background-color: var(--white);
}