.card{
    max-width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-header{
    background-color:#545c5e !important;
    margin: 0;
    font-size: 18px;
    color: #fff !important;
    font-weight: 300;
    padding: 14px 2px;
    padding-left: 18px;
}
.card .card-body{
padding: 20px;
}
.card-body{
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}