@import "../styles/Layout.module.css";
@import "../styles/Card.module.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../styles/Dashboard/Mywallet.module.css";
@import "../styles/Dashboard/Myprofile.module.css";
@import "../styles/Dashboard/Changepassword.module.css";
@import "../styles/Dashboard/Mydashboard.module.css";
@import "../styles/Support/Complaints.module.css";
@import "../styles/Constant.css";
@import "../styles/Report/TdsLetter.module.css";
@import "../styles/Report/Merchant.module.css";
@import "../styles/Loginpage.module.css";
@import "../styles/Report/GstTable.module.css";
@import "../styles/Support/Contact.module.css";
@import "../styles/Support/Support.module.css";
@import "../styles//Support/TermsAndCondition.module.css";
@import "../styles/Support/Policy.module.css";

/*  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    border-radius: 0;

}

   ::-webkit-scrollbar {
    background-color:var(--primary-color);
    height: 14px;              
    width: 4px;               
    border-radius: 14px;
  }

  p{
    margin: 0;
    padding: 0;
  }