@import "../styles/Logo.module.css";
@import "../styles/Layout.module.css";
@import "../styles/Card.module.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../styles/Mywallet.module.css";
@import "../styles/Myprofile.module.css";
@import "../styles/Changepassword.module.css";
@import "../styles/Mydashboard.module.css";
@import "../styles/complaints.module.css";

/*  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}