
  #wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--primary-color);
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
    margin-top: 65px;
  }
  
  .sidebar-brand {
    position: absolute;
    top: 0;
    width: 250px;
    text-align: center;
    padding: 20px 0;
  }
  .sidebar-brand h2 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }
  
  .sidebar-nav {
    position: absolute;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sidebar-nav > li {
    text-indent: 10px;
    line-height: 42px;
  }
  .sidebar-nav > li {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
  }

  .sidebar-nav > li > a:hover,
  .sidebar-nav > li.active > a {
    text-decoration: none;
    color: #fff;
  }
  .sidebar-nav > li > a i.fa {
    font-size: 24px;
    width: 60px;
  }
  
  #navbar-wrapper {
      height: 66px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.041) 0px 3px 6px;
      overflow-y: hidden;
  }
  .logo-container{
    flex-direction: column;
    flex-grow: 1;
  }
  .Bars{
    text-align: right;
    flex-grow: 1;
  }
  #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
  }
  #navbar-wrapper .navbar {
    border-width: 0 0 0 0;
   
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
  }
  #navbar-wrapper .navbar a {
    color: #757575;
  }
  #navbar-wrapper .navbar a:hover {
    color: #F8BE12;
  }
  
  #content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    top: 100px;
  }
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
    height: 100vh ;
  }
  
  @media (min-width: 992px) {
    #wrapper {
      padding-left: 250px;
    }
    
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 250px;
      margin-top: 65px;
    }
    
    #wrapper.toggled #sidebar-wrapper {
      width: 60px;
    }
    
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -190px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -190px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #content-wrapper {
      position: relative;
      top: 70px;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 60px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 60px;
      margin-top: 65px;
    }
    
  #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 250px;
    }
  
    #content-wrapper {
      position: relative;
      top: 70px;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
  }
  
  @media (max-width: 767px) {
    #wrapper {
      padding-left: 0;
    }
  
    #sidebar-wrapper {
      width: 0;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 250px;
    }
  
    #content-wrapper {
      position: relative;
      top: 70px;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
  }
  /* Title */

  .sidebar-item-dashboard{
    display: block;
    transition: background-color .3s;
 
  }
  .sidebar-item-utility{
    display: block;
    transition: background-color .3s;
    }
  .sidebar-item-report{
    display: block;
    transition: background-color .3s;
    }
  .sidebar-item-support{
    display: block;
    transition: background-color .3s;
    }
  .sidebar-item-logout{
    display: block;
    transition: background-color .3s;
    }
  /*  */

  .sidebar-title{
    display: flex;
    font-size: 1em;
    color: white;
    justify-content: space-between;
    font-weight: 600;
    font-family:var(--primaryFont) !important;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
  }

  .sidebar-title span i {
    display:inline-block;
    width: 2.6em;
    margin-left: 10px;
  }
  .sidebar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
    padding: 11px;
  }
  /*  */
  .sidebar-item-dashboard.open .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  .sidebar-item-utility.open .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  .sidebar-item-report.open .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  .sidebar-item-support.open .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  .sidebar-item-logout.open .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  /*  */
 .sidebar-content{
    padding-top:.25em;
    padding-left: 12px;
    height: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
  }



  .sidebar-item-dashboard.open .sidebar-content{
    
    height: auto;
    
  }
  .sidebar-item-utility.open .sidebar-content{
   height: auto;
  }
  .sidebar-item-report.open .sidebar-content{
   height: auto;
  }
  .sidebar-item-support.open .sidebar-content{
   height: auto;
  }
  .sidebar-item-logout.open .sidebar-content{
   height: auto;
  }
 
   .sidebar-content>ul{
    
    color: white;
    list-style: none;
    text-align: left;
    padding: 0;
    font-size: 12px ;
    font-family:'Open Sans', sans-serif !important;
    font-weight: 400;
    
  }
  .sidebar-content>ul>li{
      margin-top: 16px;
  }

  .link{
    color: white;
    text-decoration: none;
    
  }

  .Navtext1{
    font-weight: 600;
  }
  .Navtext2{
    font-weight: 600;
    color: var(--primary-color);

   
  }


.textAlingRight{
text-align: right;
}