.btn-primary{
   background-color:#097b7b;
   border-radius:4px ;
   font-size: 14px;
   font-weight: 600;
}
.btn-primary span{
    margin-left: 6px;
}
.btn-primary span i{
   font-size: 18px;
}
.form-control{
    border-radius: 0;
    margin-top: 4px;
}