.form-select{
    width: 60% !important;
    border-radius: 0px !important;
}
.form-control{
    border-radius: 0px !important;
    height: 45px !important;
    width: 90% !important;
}

.section{
    padding: 0px !important;
}
.btn{
    padding: 6px 7px !important;
    line-height: 1 !important;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600 !important;
    font-size: 0.875rem !important;
    border-radius: 4px !important;
}